@model HumanResources.ViewModels.CreateClientViewModel

@{
    ViewData["Title"] = "Criar Novo Cliente";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">

        <div class="card shadow-sm">
            <div class="card-header">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <h4>Dados da Empresa</h4>
                        <div class="form-group mb-3">
                            <label asp-for="CompanyName" class="control-label"></label>
                            <input asp-for="CompanyName" class="form-control" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Nif" class="control-label"></label>
                            <input asp-for="Nif" class="form-control" />
                            <span asp-validation-for="Nif" class="text-danger"></span>
                        </div>

                        <hr />
                        <h4>Dados da Conta de Login</h4>
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-4">
                            <input type="submit" value="Criar Cliente" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

